parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\*\**Presenter

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension3
	leanmapper: LeanMapper\Bridges\Nette\DI\LeanMapperExtension

latte:
	strictTypes: true
	strictParsing: true
	extensions:
		- App\Presentation\Accessory\LatteExtension


di:
	export:
		parameters: false
		tags: false

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service

