#parameters:
#    db:
#        driver: sqlite
#        username: ''
#        password: ''
#
#database:
#    dsn: 'sqlite::memory:'
#    user: %db.username%
#    password: %db.password%

parameters:
    db:
        driver: mysqli
        host: db-server
        username: cortex
        password: cortex
        database: db_test
        lazy: true

database:
    dsn: 'mysql:host=%db.host%;dbname=%db.database%'
    user: %db.username%
    password: %db.password%
