# config.neon
parameters:
    db:
        driver: mysqli
        host: db-server
        username: cortex
        password: cortex
        database: db
        lazy: true

# Main Database DSN can be derived from parameters
database:
    dsn: 'mysql:host=%db.host%;dbname=%db.database%'
    user: %db.username%
    password: %db.password%

# Dibi uses the same parameters
dibi:
    driver: %db.driver%
    host: %db.host%
    username: %db.username%
    password: %db.password%
    database: %db.database%
    lazy: %db.lazy%

# LeanMapper also uses the same parameters
leanmapper:
    db:
        driver: %db.driver%
        host: %db.host%
        username: %db.username%
        password: %db.password%
        database: %db.database%
        lazy: %db.lazy%