extensions:
	orisai.scheduler: OriNette\Scheduler\DI\SchedulerExtension

orisai.scheduler:
	jobs:
		# -
		# 	expression: "* * * * *"  # Cron expression for every minute
		# 	#expression: "0 * * * *"  # Cron expression for every hour
		# 	callback: [@task.test, 'run']
		-
			expression: "* * * * *"  # Cron expression for every minute
			callback: [@task.notifications, 'run']

services:
	task.test: Task\MyJobService1
	task.notifications: Task\NotificationManagingTask